.leadform-container {
  padding: 40px 0;
  height: auto;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
   h2 {
    font-size: 2rem;
  }
  p {
    margin-bottom: 25px;
  }
  hr{
    margin-bottom: 15px;
  }
  .leadform-container-title{
   width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
  }
}
.leadform-form {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 64%);
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  input {
    font-weight: 500;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
}
.submit-btn {
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: navy;
  color: white;
}
.submit-btn:hover {
  background-color: rgb(0, 0, 65);
}
@media (max-width: 768px) {
  .leadform-form {
    width: 90%;
  }
  .input-field {
    width: 100%;
  }
  .leadform-container {
    padding: 20px 10px 30px;
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
    p {
      font-size: 1.1rem;

      text-align: center;
    }
  }
}
