@import url(
"https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}
html{
scroll-behavior:smooth;

}
body{
    
    color: #070723;
}
a{
    text-decoration: none;
    color:black;
}
li{
    list-style: none;
}
h1{
font-family: "Poppins";
}
hr{
    width: 90%;
    height: 1px;
    border-bottom: 1px solid rgb(195 166 0);
}