.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 10vh;
    background: url(../../assets/hero_background.png);
}
.footer-title{
    font-size: 1.7rem;
  font-weight: bold;
}