.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 10vh;
     background: linear-gradient(35deg,#123460  ,rgb(5, 5, 46));

}
.footer-title{
    font-size: 1.7rem;
  font-weight: bold;
}